@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

*
{
    box-sizing: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
}

body
{
    background-color: $background;
    box-sizing: border-box;
    color: $font;
    font-family: 'Fira Sans';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    padding: 2rem 3rem;

}
.header
{
    .navbar
    {
        margin-bottom: 3rem;

        &__logo
        {
            color: $font;
            display: inline-block;
            font-size: 3rem;
            width: 30%;
        }

        &__list
        {
            display: inline-block;
            list-style: none;
            text-align: right;
            width: 70%;
        }

        &__item
        {
            display: inline-block;
            margin: 0 2rem;
        }

        &__link
        {
            background-color: $background;
            border: 1px solid $font;
            border-radius: 3px;
            color: $font;
            display: block;
            font-size: 2.2rem;
            font-weight: 400;
            padding: .75rem 2rem;
            text-decoration: none;
            transition: all .2s ease-out;

            &:hover, &.active
            {
                background-color: $font;
                color: $background;
            }
        }
    }    
}

.post
{
    background-color: $background-2;
    border-radius: 3px;
    box-shadow: $glow-sm;
    margin: 2rem auto;
    padding: 2rem;
    transition: all .3s ease-in;
    width: 70%;

    &:hover
    {
        background-color: lighten($background-2, 15%);
    }

    &__title
    {
        margin-bottom: 1.3rem;
    }

    &__text
    {
        line-height: 1.5;
    }
}